body {
    font-family: "Segoe UI", system-ui, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
    font-size: 0.875rem;
    line-height: 1.4286;
}
div {
    display: flex;
}

fluent-card {
    background-color: rgb(250, 249, 248);
    padding: 1rem;
    box-sizing: border-box;
    width: 18.75rem;
}

fluent-card:hover {
    background-color: rgb(237, 235, 233);
}

.left {
    margin-right: 0.625rem;
}
.right {
    flex-direction: column;
}

.title {
    font-weight: 700;
}
.secondary {
    font-size: 0.75rem;
}